/* global */

h1, h3 {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 900;
}

h1 {
  line-height: 1.2;
  font-size: 64px;
  font-size: 4rem;
}

h1 a {
  border-bottom: 4px solid #eee;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

h1 a:hover {
  border-bottom: 4px solid #5A25CF;
}

h2, h4, h5, h6 {
  font-family: Source Sans Pro, sans-serif;
  font-weight: normal;  
}

p {
  font-size: 18px;
  line-height: 45px;
  margin: 0;
}

@media screen and (max-width: 40em) {
  p {
    font-size: 14px;
  }
}

a {
  color: #fefefe;
}

a:focus,
a:hover,
a:visited {
  color: #FFD0B6;
}

footer.row {
  position: fixed;
  bottom: -35px;
  left: 0;
  height: 35px;
  width: 100%;
  max-width: 100%;
  background: #333;
}

.main-wrapper footer.row {
  bottom: 0;
  height: auto;
}

/* main */

.main-wrapper {
  text-align: center;
}

.main-content-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.clip-content {
  width: 90%;
  height: auto;
  min-height: 100%;
  margin: 0;
  padding: 1.5em;
  position: relative;
  display: inline-block;
  font-size: 60px;
  font-size: 5em;
  text-align: left;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.clip-content:before,
.clip-content:after {
  position: absolute;
  content: "";
}

.clip-content:before {
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: inherit;
}

.clip-content:after {
  position: absolute;
  z-index: -1;
  top: 1em;
  right: 1em;
  bottom: 1em;
  left: 1em;
  background-color: white;
}

.clip-content,
.clip-content:before {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*buttons*/

.main-option {
  display: inline;
  padding: 20px 28px;
  padding: 1.25rem 1.75rem;
  -webkit-background-clip: white;
  -webkit-text-fill-color: white;
  position: relative;
  cursor: pointer;
 /* -webkit-transition: none;
  transition: none;*/
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space:nowrap;
  border-radius: 3px;
  box-shadow: 0 6px #360D90;
  background: #5A25CF;
  top: 0;
  transition: all .3s ease;
}

.main-option:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-option:hover,
.main-option:focus {
  background: #E2105F;
  box-shadow: 0 4px #B20546;
  top: 4px;
}

.main-option a strong,
.main-option:hover a strong,
.main-option:focus a strong {
  -webkit-text-fill-color: #FFD0B6;
  color: #FFD0B6;
}

.main-option:active {
  background: #E2105F;
  box-shadow: 0 0 #B20546;
  top: 6px;
}

.main-option-number {
  letter-spacing: 2px;
  color: #eee;
}

@media screen and (max-width: 52em) {
  
  .clip-content {
    padding: .5em;
  }

  .clip-content:after {
    z-index: -1;
    top: .25em;
    right: .25em;
    bottom: .25em;
    left: .25em;
  }

  h1 {
    font-size: 30px;
    font-size: 2rem;
  }

  .main-option {
    display: block;
    float: left; 
    clear: left;
    margin: 1rem 0;
    padding: .5rem 1rem;
  }

   .main-option:first-of-type {
    margin-top: 2rem;
   }
  
  .main-option a {
    width: 80%;
  }

}

/* internal */

header.row {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 100%;
  z-index: 2;
  background: #333;
}

.internal-header {
  height: 45px;
  margin: 0 0 0 16px;
  margin: 0 0 0 1rem;
  font-family: 'Playfair Display', sans-serif;
  font-weight: 900;
  line-height: 45px;
}

.top-right {
  position: absolute;
  top: -45px;
  right: 16px;
  right: 1rem;
  z-index: 3;
}

.pt-trigger {
  cursor: pointer;
  color: #FFD0B6;
}

.pt-trigger:hover {
  color: #FFB892;
}

.mobile-frame {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-60%);
  transform: translate(-50%,-60%);
  width: 40vh; 
  height: 70vh;
  padding: 10px 0 30px 0;
  border-radius: 10px;
  background: #333;
}

.mobile-screen {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 90%;
  height: 90%;
  margin: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pt-page-1,
.pt-page-2,
.pt-page-3,
.pt-page-4,
.pt-page-5,
.pt-page-6,
.pt-page-7,
.pt-page-8,
.pt-page-9,
.pt-page-10,
.pt-page-11,
.pt-page-12,
.pt-page-13,
.pt-page-14,
.pt-page-15,
.pt-page-16,
.pt-page-17,
.pt-page-18,
.pt-page-19,
.pt-page-20,
.pt-page-21,
.pt-page-22,
.pt-page-23,
.pt-page-24,
.pt-page-25,
.pt-page-26,
.pt-page-27,
.pt-page-28,
.pt-page-29,
.pt-page-30,
.pt-page-31,
.pt-page-32 {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pt-page-1 .mobile-screen {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/mobile-background-1-640x960.jpg);
}
.pt-page-2 .mobile-screen {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/mobile-background-2-640x960.jpg);
}
.pt-page-3 .mobile-screen {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/mobile-background-3-640x960.jpg);
}
.pt-page-4 .mobile-screen {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/mobile-background-4-640x960.jpg);
}
.pt-page-5 .mobile-screen {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/mobile-background-5-640x960.jpg);
}
.pt-page-6 .mobile-screen {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/mobile-background-6-640x960.jpg);
}
.pt-page-7 .mobile-screen {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/mobile-background-7-640x960.jpg);
}
.pt-page-8 .mobile-screen {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/mobile-background-8-640x960.jpg);
}
.pt-page-9 .mobile-screen {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/mobile-background-9-640x960.jpg);
}
.pt-page-10 .mobile-screen {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/mobile-background-10-640x960-v2.jpg);
}
.pt-page-11 .mobile-screen {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/mobile-background-11-640x960-v2.jpg);
}
.pt-page-12 .mobile-screen {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/mobile-background-12-640x960.jpg);
}
.pt-page-13 .mobile-screen {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/mobile-background-13-640x960.jpg);
}

.pt-page-1.desktop-background {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/desktop-background-1-1600x1024.jpg);
}
.pt-page-2.desktop-background {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/desktop-background-2-1600x1024.jpg);
}
.pt-page-3.desktop-background {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/desktop-background-3-1600x1024.jpg);
}
.pt-page-4.desktop-background {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/desktop-background-4-1600x1024.jpg);
}
.pt-page-5.desktop-background {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/desktop-background-5-1600x1024.jpg);
}
.pt-page-6.desktop-background {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/desktop-background-6-1600x1024.jpg);
}
.pt-page-7.desktop-background {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/desktop-background-7-1600x1024.jpg);
}
.pt-page-8.desktop-background {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/desktop-background-8-1600x1024.jpg);
}
.pt-page-9.desktop-background {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/desktop-background-9-1600x1024.jpg);
}
.pt-page-10.desktop-background {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/desktop-background-10-1600x1024.jpg);
}
.pt-page-11.desktop-background {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/desktop-background-11-1600x1024.jpg);
}
.pt-page-12.desktop-background {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/desktop-background-12-1600x1024.jpg);
}
.pt-page-13.desktop-background {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/desktop-background-13-1600x1024.jpg);
}
.pt-page-14.desktop-background {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/desktop-background-14-1600x1024.jpg);
}
.pt-page-15.desktop-background {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/desktop-background-15-1600x1024.jpg);
}
.pt-page-16.desktop-background {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/desktop-background-16-1600x1024.jpg);
}
.pt-page-17.desktop-background {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/desktop-background-17-1600x1024.jpg);
}
.pt-page-18.desktop-background {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/desktop-background-18-1600x1024.jpg);
}
.pt-page-19.desktop-background {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/desktop-background-19-1600x1024.jpg);
}
.pt-page-20.desktop-background {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/desktop-background-20-1600x1024.jpg);
}
.pt-page-21.desktop-background {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/desktop-background-21-1600x1024.jpg);
}
.pt-page-22.desktop-background {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/desktop-background-22-1600x1024.jpg);
}
.pt-page-23.desktop-background {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/desktop-background-23-1600x1024.jpg);
}
.pt-page-24.desktop-background {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/desktop-background-24-1600x1024.jpg);
}
.pt-page-25.desktop-background {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/desktop-background-25-1600x1024.jpg);
}
.pt-page-26.desktop-background {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/desktop-background-26-1600x1024.jpg);
}
.pt-page-27.desktop-background {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/desktop-background-27-1600x1024.jpg);
}
.pt-page-28.desktop-background {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/desktop-background-28-1600x1024.jpg);
}
.pt-page-29.desktop-background {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/desktop-background-29-1600x1024.jpg);
}
.pt-page-30.desktop-background {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/desktop-background-30-1600x1024.jpg);
}
.pt-page-31.desktop-background {
  background-image: url(https://d10vui2ys4vwdi.cloudfront.net/desktop-background-31-1600x1024.jpg);
}

.bottom-left {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 35px;
  margin-bottom: 0;
  padding-left: 16px;
  padding-left: 1rem;
  padding-right: 16px;
  padding-right: 1rem;
  line-height: 35px;
  z-index: 3;
  background: #333;
}

.bottom-right {
  line-height: 35px;
}
