*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  color: #fff;
  background: #333;
  overflow: hidden;
}

.pt-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
}

.pt-page {
  width: 100%;
  height: calc(100% - 80px);
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: visible;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.pt-page-current, .no-js .pt-page {
  visibility: visible;
  z-index: 1;
}

.no-js body {
  overflow: auto;
}

/* Page Styles */
.pt-page-ontop {
  z-index: 999;
}

.pt-page-1 {
  background: #00E4FF;
}
.pt-page-2 {
  background: #1B5674;
}
.pt-page-3 {
  background: #FFD0B7;
}
.pt-page-4 {
  background: #9B8BFB;
}
.pt-page-5 {
  background: #FED93F;
}
.pt-page-6 {
  background: #FE666A;
}
.pt-page-7 {
  background: #60FF82;
}
.pt-page-8 {
  background: #3494B1;
}
.pt-page-9 {
  background: #10ACED;
}
.pt-page-10 {
  background: #60FF82;
}
.pt-page-11 {
  background: #FFECE5;
}
.pt-page-12 {
  background: #9B8BFB;
}
.pt-page-13 {
  background: #5C00CF;
}

/* No Animation Support Message Style */
.pt-message {
  display: none;
  position: absolute;
  z-index: 99999;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #da475c;
  color: #fff;
  text-align: center;
}

.pt-message p {
  margin: 0;
  line-height: 60px;
  font-size: 26px;
}

.no-cssanimations .pt-message {
  display: block;
}

/* animation classes  */

.pt-page-moveToLeft {
  -webkit-animation: moveToLeft .6s ease both;
  animation: moveToLeft .6s ease both;
}

.pt-page-moveFromLeft {
  -webkit-animation: moveFromLeft .6s ease both;
  animation: moveFromLeft .6s ease both;
}

.pt-page-moveToRight {
  -webkit-animation: moveToRight .6s ease both;
  animation: moveToRight .6s ease both;
}

.pt-page-moveFromRight {
  -webkit-animation: moveFromRight .6s ease both;
  animation: moveFromRight .6s ease both;
}

/* move to with different easing */

.pt-page-moveToLeftEasing {
  -webkit-animation: moveToLeft .7s ease-in-out both;
  animation: moveToLeft .7s ease-in-out both;
}
.pt-page-moveToRightEasing {
  -webkit-animation: moveToRight .7s ease-in-out both;
  animation: moveToRight .7s ease-in-out both;
}

/* keyframes  */

@-webkit-keyframes moveToLeft {
  from { }
  to { -webkit-transform: translateX(-100%); }
}
@keyframes moveToLeft {
  from { }
  to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveFromLeft {
  from { -webkit-transform: translateX(-100%); }
}
@keyframes moveFromLeft {
  from { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveToRight { 
  from { }
  to { -webkit-transform: translateX(100%); }
}
@keyframes moveToRight { 
  from { }
  to { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@-webkit-keyframes moveFromRight {
  from { -webkit-transform: translateX(100%); }
}
@keyframes moveFromRight {
  from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}
