<nav>
  <a href='/pizzas'>ALL OF THE PIZZAS</a>
</nav>

<div class="main">

  <h1>Edit Your Pizza</h1>

  <%= render 'form' %>

  <form action="/pizzas/<%= @pizza.id %>/toppings/new" method='get'>
    <%= token_tag%>
    <button type='submit'>Add Topping</button>
  </form>

</div>
