<div class='yes'>
  <h2 class='best'>PIZZA IS THE BEST</h2>
  <h1><%= link_to 'MAKE A PIZZA', pizzas_path %></h1>
  <h2>or watch a TED Talk</h2>
  <iframe src="https://embed-ssl.ted.com/talks/al_vernacchio_sex_needs_a_new_metaphor_here_s_one.html" width="640" height="360" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  <br>
  <p>this is just a test site by <a href="http://www.chrisheuberger.com">Chris Heuberger</a></p>
</div>
