body {
  font-family: 'Cantarell', sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

nav {
  background-color: #222222;
  margin: 0px auto 20px auto;
  padding: 10px;
  text-align: center;
}

nav a {
  font-family: 'Cantarell', sans-serif;
  font-weight: normal;
  letter-spacing: .25em;
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: lightgray;
  text-decoration: none;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    line-height: 47px;
    font-size: 45px;
    margin: 0 0 30px 0;
}

h2 {
    text-align: center;
    font-family: 'Cantarell', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0 0 15px 0;
}

h2.best {
  font-size: 14em;
  color: white;
}

p {
    text-align: center;
    font-family: 'Cantarell', sans-serif;
    font-size: 15px;
    line-height: 22px;
    margin: 0 0 15px 0;
}

div {
    font-family: 'Cantarell', sans-serif;
    font-size: 15px;
    line-height: 22px;
}

img {
  position: relative;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
  margin-left: -40px;
}

.main {
  margin: 20px auto;
  width: 600px;
  padding: 20px;
  background-color: #ececea;
  text-align: center;
}

.yes {
   text-align: center;
   padding: 10px;
}

.center {
  text-align: center;
}

.field {
  font-family: 'Cantarell', sans-serif;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  height: 20px;
  width: 500px;
}

.image-cage {
  width: 100%;
  overflow: hidden;
  background-color: black;
}

.information-block {
  background-color: black;
  margin: 0;
  padding: 100px;
}

.image-banner {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.image-banner img {
  width: 1400px;
}

.flying-image {
 margin: 40px auto;
}

a {
  text-decoration: none;
  color: red;
}

a:hover {
  color: maroon;
}
